{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1>{{ collection.title }}</h1>

<div class="collection-products">
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      {% render 'product-card', product: product, show_vendor: false, show_price: true %}
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
